<?xml version="1.0"?>
<robot name="qb_move" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find qb_move_description)/urdf/qb_move.utils.xacro" ns="qbmove"/>
  <xacro:arg name="namespace" default="qbmove"/>

  <link name="root_link"/>
	<xacro:qbmove.build_move_from_default_yaml namespace="$(arg namespace)" parent="root">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:qbmove.build_move_from_default_yaml>

</robot>