<launch>
  <include file="$(find qb_device_driver)/launch/communication_handler.launch"/>

  <include file="$(find qb_device_bringup)/launch/full_bringup.launch">
    <arg name="control_action" value="position_and_preset"/>
    <arg name="control_duration" value="0.01"/>
    <arg name="controllers" value="qbmove_joint_state_controller
                                   qbmove_position_and_preset_trajectory_controller
                                   qbmove_motor_positions_trajectory_controller"/>
    <arg name="controllers_namespace" value="qbmove"/>
    <arg name="controllers_settings" value="qb_move"/>
    <arg name="device_id" value="1"/>
    <arg name="device_control" value="qb_move"/>
    <arg name="device_description" value="qb_move"/>
    <arg name="device_namespace" value="qbmove"/>
    <arg name="device_urdf" value="qb_move"/>
    <arg name="use_controller_gui" value="true"/>
    <arg name="use_rviz" value="true"/>
    <arg name="use_waypoints" value="false"/>
    <arg name="waypoint_namespace" value="qbmove"/>
    <arg name="waypoint_settings" value="qb_move"/>
  </include>
</launch>