Source: ros-kinetic-qb-move-control
Section: misc
Priority: extra
Maintainer: Alessandro Tondo <alessandro.tondo@qbrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-qb-device-control, ros-kinetic-qb-move-hardware-interface, ros-kinetic-roscpp
Homepage: http://wiki.ros.org/qb_move_control
Standards-Version: 3.9.2

Package: ros-kinetic-qb-move-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-qb-device-control, ros-kinetic-qb-move-hardware-interface, ros-kinetic-roscpp
Description: This package contains the ROS control node for qbrobotics® qbmove device.
